<link rel="apple-touch-icon" sizes="180x180" href="<?php echo esc_url( get_stylesheet_directory_uri() ); ?>/assets/img/icons/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="<?php echo esc_url( get_stylesheet_directory_uri() ); ?>/assets/img/icons/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="<?php echo esc_url( get_stylesheet_directory_uri() ); ?>/assets/img/icons/favicon-16x16.png">
<link rel="manifest" href="<?php echo esc_url( get_stylesheet_directory_uri() ); ?>/assets/img/icons/site.webmanifest">
<link rel="mask-icon" href="<?php echo esc_url( get_stylesheet_directory_uri() ); ?>/assets/img/icons/safari-pinned-tab.svg" color="#2e3d66">
<meta name="msapplication-TileColor" content="#2b5797">
<meta name="msapplication-TileImage" content="<?php echo esc_url( get_stylesheet_directory_uri() ); ?>/assets/img/icons/mstile-144x144.png">
<meta name="theme-color" content="#ffffff">
