/******************************************************************
Site Name: Template #5 Theme
Author: Go Montessori

Stylesheet: TinyMCE Editor

This stylesheet is loaded automatically by Wordpress when compiled
and placed in the root theme directory folder as editor-style.css

For more info, check out the codex:
http://codex.wordpress.org/Editor_Style

******************************************************************/

/* Wrap the entire post style inside the TinyMCE selector, as suggested
here http://codex.wordpress.org/Function_Reference/add_editor_style */
body#tinymce.wp-editor {

  // Sass variables
  @import "utilities/_variables";

  // Utility classes
  @import "utilities/utils";

  // import mixins
  @import "utilities/_mixins";

  // typography
  @import "objects/_typography";

  // buttons
  @import "objects/_buttons";

  // tables
  @import "objects/_tables";

  width: 731px;
  font-family: 'Raleway', sans-serif;
  font-size: 100%;
  line-height: 1.5;
  color: $text-color;
  -webkit-font-smoothing: antialiased;


  h1 {
    font-size: 36px;
  }


  h2 {
    font-size: 30px;
  }

  h3 {
    font-size: 24px;
  }

  h4 {
    font-size: 20px;

  }

  h5 {
    font-size: 18px;
    text-transform: uppercase;
  }

  h6 {
    font-size: 14px;
    text-transform: uppercase;
  }

  p {
    font-size: 16px;
  }

  a {
    color: $sky;
    font-weight: bold;
  }

  .btn {
    font-size: 16px;
    text-decoration: none;
  }

  hr {
    border-top: 2px solid $sky;
    clear: both;
  }


  /**
   * Alignment
   */

  .alignnone {
    margin: 0;
  }

  .aligncenter {
    display: block;
    margin: 1em auto;
  }

  .alignright {
    float: right;
    margin: 0.5em 0 1em 1em;

  }

  .alignleft {
    float: left;
    margin: 0.5em 1em 1em 0;
  }

}

