/******************************************************************
Site Name: Template #5 Theme
Author: Go Montessori

Stylesheet: TinyMCE Editor

This stylesheet is loaded automatically by Wordpress when compiled
and placed in the root theme directory folder as editor-style.css

For more info, check out the codex:
http://codex.wordpress.org/Editor_Style

******************************************************************/
/* Wrap the entire post style inside the TinyMCE selector, as suggested
here http://codex.wordpress.org/Function_Reference/add_editor_style */
body#tinymce.wp-editor {
  /**
   * utilities/variables
   * ---
   */
  /**
   * Typography
   */
  /**
   * Colors
   */
  /**
   * Breakpoints
   */
  /**
   * utilities/mixins
   * ---
   */
  /**
   * objects/typography
   * ---
   */
  /* navigation */
  /* main */
  /* homepage */
  /* blog */
  /* sidebars */
  /* footer */
  width: 731px;
  font-family: 'rucksack', sans-serif;
  font-size: 100%;
  line-height: 1.5;
  color: #363636;
  -webkit-font-smoothing: antialiased;
  		/**
           * Alignment
           */
}
body#tinymce.wp-editor h1 {
  color: #2f3749;
  font-size: 36px;
  font-size: 3.6rem;
  margin: 0 0 0.5em 0;
}
body#tinymce.wp-editor h2 {
  color: #43323b;
  font-size: 22px;
  font-size: 2.2rem;
  margin: 0 0 0.5em 0;
}
body#tinymce.wp-editor h3 {
  color: #617997;
}
body#tinymce.wp-editor h4 {
  color: #80767d;
}
body#tinymce.wp-editor h5 {
  color: #363636;
}
body#tinymce.wp-editor h6 {
  font-size: 14px;
  font-size: 1.4rem;
  text-transform: uppercase;
}
body#tinymce.wp-editor p,
body#tinymce.wp-editor ul,
body#tinymce.wp-editor ol,
body#tinymce.wp-editor dl {
  margin: 0 0 1em 0;
}
body#tinymce.wp-editor blockquote {
  color: #80767d;
  font-style: italic;
  font-size: 18px;
  font-size: 1.8rem;
  margin: 0 0 1em 0;
}
body#tinymce.wp-editor article a {
  color: #617997;
}
body#tinymce.wp-editor .callout {
  color: #43323b;
  font-style: italic;
  font-size: 20px;
  font-size: 2rem;
  text-align: right;
}
@media all and (max-width: 800px) {
  body#tinymce.wp-editor .callout {
    text-align: left;
  }
}
body#tinymce.wp-editor .primary-menu a,
body#tinymce.wp-editor .menu-toggle {
  font-size: 18px;
  font-size: 1.8rem;
  text-align: center;
}
body#tinymce.wp-editor .sub-menu a {
  text-align: left;
}
body#tinymce.wp-editor table {
  font-size: 12px;
  font-size: 1.2rem;
}
body#tinymce.wp-editor #home-content h1 {
  font-size: 48px;
  font-size: 4.8rem;
  color: white;
}
body#tinymce.wp-editor .hero-desc {
  font-size: 30px;
  font-size: 3rem;
  font-weight: bold;
  color: #80767d;
}
body#tinymce.wp-editor .hero-desc p {
  margin-bottom: 10px;
  margin-top: 0;
  line-height: 1.2;
}
body#tinymce.wp-editor .side-menu li {
  font-size: 18px;
  font-size: 1.8rem;
}
body#tinymce.wp-editor .side-menu li a:hover {
  text-decoration: none;
}
body#tinymce.wp-editor .footer {
  font-size: 14px;
  font-size: 1.4rem;
  text-align: center;
}
body#tinymce.wp-editor .footer a {
  font-weight: bold;
}
body#tinymce.wp-editor .alignnone {
  margin: 0;
}
body#tinymce.wp-editor .aligncenter {
  display: block;
  margin: 1em auto;
}
body#tinymce.wp-editor .alignright {
  float: right;
  margin: 0.5em 0 1em 1em;
}
body#tinymce.wp-editor .alignleft {
  float: left;
  margin: 0.5em 1em 1em 0;
}

/*# sourceMappingURL=editor-style.css.map */
