/**
 *
 * homepage styles
 *
 */

.home .hero-area .wrapper {
  @media screen and (max-width: $break-med) {
    background: $sky;
  }
}

.hero-video {
  background: $body-bg;
  color: $text-color;
}

.slider-dynamic{
  @media screen and (max-width: $break-med) {
    background: none;
  }
}

.banner-icons {
  background: $grey;
}

.icon-list {
  list-style-type: none;
  .btn-icon {
    border-radius: 50%;
    &:hover {
      text-decoration: none;
      background: $green !important;
    }
  }

  li:nth-of-type(5n + 1) .btn-icon{
    background: $sky;
  }
  li:nth-of-type(5n + 2) .btn-icon{
    background: #68859E;
  }
  li:nth-of-type(5n + 3) .btn-icon{
    background: #516888;
  }
  li:nth-of-type(5n + 4) .btn-icon{
    background: $blue;
  }
}

.fa {
  display: block;
  color: white;
  font-size: 60px !important;
  @media screen and (max-width: $break-med) {
    font-size: 30px !important;
  }
}
