/**
 *
 * Easy banners button styles
 *
 */

.widget_easy_banners {
  .widgettitle {
    @extend .screen-reader-text;
  }
  .widgin-item {
    @include button(transparent);
    margin: 0;
    a:hover,
    a:active {
      text-decoration: none;
      p {
        color: $text-color;
      }
    }
    p {
      margin: 0;
    }

    &:hover,
    &:active {
      color: $text-color;
    }
  }
}

.header-right .widgin-item {
  margin: 0 !important;
  display: inline-block;
}
