/**
 *
 * Tribe events calendar plugin styles
 *
 */

.tribe-events-widget-link {
  margin: $margin-sm 0;
  text-align: center;
  a {
    text-transform: uppercase;
  }
}

.tribe-event-title {
  font-weight: normal;
  @include font-size(2.2);
  margin-bottom: 10px;
}

.tribe-event-duration {
  @include font-size(1.8);
}

.tribe-events-list-widget .tribe-events-list-widget-events {
  padding: 0 0 10px 0;
  margin-bottom: $margin-sm;
  border-bottom: 1px solid $blue;
}
