/**
 * objects/buttons
 * ---
 */


.btn-blue {
  @include button($blue);
}

.btn-red {
  @include button($green);
}

.btn-sky {
  @include button($sky);
}

.btn-main-cta, .slide-link {
  @include button($green);
  @include font-size(2.4);
  padding: 10px $padding-sm;
}
