/**
 * objects/header
 * ---
 */

#masthead {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#2e3d66+0,a2cdd6+100 */
  background: #2e3d66; /* Old browsers */
  background: -moz-linear-gradient(left, #2e3d66 0%, #a2cdd6 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #2e3d66 0%,#a2cdd6 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #2e3d66 0%,#a2cdd6 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2e3d66', endColorstr='#a2cdd6',GradientType=1 ); /* IE6-9 */
}

.announcement {
  background: $green;
  color: white;
}
