/**
 * objects/nav
 * ---
 * Menus
 */


/* main menu */

.site-menu-container {
  background: $body-bg;
}

.main-navigation {
  ul li {
    @media screen and (max-width: $break-sm) {
      border-top: 1px solid $blue;
    }
  }

  a {
    color: $text-color;
    &:hover {
      text-decoration: none;
      background: $green;
      color: white;
    }
  }

  .menu-item-has-children > a {
    &:after {
      content: "";
      background: transparent center center no-repeat svg-url("<svg xmlns='http://www.w3.org/2000/svg' fill='#030303' viewBox='0 0 20 20'><path d='M4.516,7.548c0.436-0.446,1.043-0.481,1.576,0L10,11.295l3.908-3.747c0.533-0.481,1.141-0.446,1.574,0 c0.436,0.445,0.408,1.197,0,1.615c-0.406,0.418-4.695,4.502-4.695,4.502C10.57,13.888,10.285,14,10,14s-0.57-0.112-0.789-0.335 c0,0-4.287-4.084-4.695-4.502C4.107,8.745,4.08,7.993,4.516,7.548z'/></svg>");
      background-size: 24px 24px;
    }
    &:hover {
      &:after {
        background: transparent center center no-repeat svg-url("<svg xmlns='http://www.w3.org/2000/svg' fill='#ffffff' viewBox='0 0 20 20'><path d='M4.516,7.548c0.436-0.446,1.043-0.481,1.576,0L10,11.295l3.908-3.747c0.533-0.481,1.141-0.446,1.574,0 c0.436,0.445,0.408,1.197,0,1.615c-0.406,0.418-4.695,4.502-4.695,4.502C10.57,13.888,10.285,14,10,14s-0.57-0.112-0.789-0.335 c0,0-4.287-4.084-4.695-4.502C4.107,8.745,4.08,7.993,4.516,7.548z'/></svg>");

      }
    }
  }

  .menu-item-has-children[aria-haspopup="true"]:hover,
  .menu-item-has-children[aria-haspopup="true"]:focus
  {
    background: $green;
    > a {
      color: white;
    }
    &.current-menu-item > a,
    &.current_page_item > a,
    &.current_page_ancestor > a {
      background: $green;
    }
  }

  .current-menu-item > a,
  .current_page_item > a,
  .current_page_ancestor > a {
    background: $blue;
    color: white;
    &:hover {
      color: white;
      background: $green;
    }
    &:after {
      content: "";
      background: transparent center center no-repeat svg-url("<svg xmlns='http://www.w3.org/2000/svg' fill='#ffffff' viewBox='0 0 20 20'><path d='M4.516,7.548c0.436-0.446,1.043-0.481,1.576,0L10,11.295l3.908-3.747c0.533-0.481,1.141-0.446,1.574,0 c0.436,0.445,0.408,1.197,0,1.615c-0.406,0.418-4.695,4.502-4.695,4.502C10.57,13.888,10.285,14,10,14s-0.57-0.112-0.789-0.335 c0,0-4.287-4.084-4.695-4.502C4.107,8.745,4.08,7.993,4.516,7.548z'/></svg>");
    }
  }

  .sub-menu {
    background: $body-bg;
  }

  .sub-menu li {
    border-bottom: 1px solid $blue;
    &:last-child {
      border-bottom: none;
    }
  }

  .sub-menu a {
    white-space: normal;
    color: $text-color;
    &:hover {
      background: $green;
      color: white;
    }
  }

  .sub-menu ul {
    a{
      &:hover {
        background: $green;
        color: white;
      }
    }
    .current-menu-item > a,
    .current_page_item > a,
    .current_page_ancestor > a {
      background: $blue;
      color: white;
      &:hover {
        background: $green;
        color: white;
      }
    }
  }

  .sub-menu ul:before,
  .sub-menu ul:after {
    border: 0;
  }

  .sub-menu ul ul {
    a{
      &:hover {
        background: $green;
        color: white;
      }
    }
    .current-menu-item > a,
    .current_page_item > a,
    .current_page_ancestor > a {
      background: $blue;
      color: white;
      &:hover {
        background: $green;
        color: white;
      }
    }
  }

  .menu-cta a{
    background: $sky;
    color: white;
    &:hover {
      background: $green;
      color: white;
    }
  }

}

.menu-toggle {
  background: $body-bg;
  border: 0;
  outline: 0;
  cursor: pointer;
  &:hover {
    background: $green;
    color: white;
    &:after {
      content: '';
      background-image: svg-url("<svg xmlns='http://www.w3.org/2000/svg' fill='#ffffff' viewBox='0 0 20 20'><path d='M16.4,9H3.6C3.048,9,3,9.447,3,10c0,0.553,0.048,1,0.6,1H16.4c0.552,0,0.6-0.447,0.6-1C17,9.447,16.952,9,16.4,9z M16.4,13 H3.6C3.048,13,3,13.447,3,14c0,0.553,0.048,1,0.6,1H16.4c0.552,0,0.6-0.447,0.6-1C17,13.447,16.952,13,16.4,13z M3.6,7H16.4 C16.952,7,17,6.553,17,6c0-0.553-0.048-1-0.6-1H3.6C3.048,5,3,5.447,3,6C3,6.553,3.048,7,3.6,7z'/></svg>");
    }
  }
  &:after {
    content: '';
    background-image: svg-url("<svg xmlns='http://www.w3.org/2000/svg' fill='#030303' viewBox='0 0 20 20'><path d='M16.4,9H3.6C3.048,9,3,9.447,3,10c0,0.553,0.048,1,0.6,1H16.4c0.552,0,0.6-0.447,0.6-1C17,9.447,16.952,9,16.4,9z M16.4,13 H3.6C3.048,13,3,13.447,3,14c0,0.553,0.048,1,0.6,1H16.4c0.552,0,0.6-0.447,0.6-1C17,13.447,16.952,13,16.4,13z M3.6,7H16.4 C16.952,7,17,6.553,17,6c0-0.553-0.048-1-0.6-1H3.6C3.048,5,3,5.447,3,6C3,6.553,3.048,7,3.6,7z'/></svg>");
  }
}

.dropdown-toggle {
  border: 0;
  border-radius: 0;
  color: #ffffff;
  content: "";
  background: transparent center center no-repeat svg-url("<svg xmlns='http://www.w3.org/2000/svg' fill='#030303' viewBox='0 0 20 20'><path d='M4.516,7.548c0.436-0.446,1.043-0.481,1.576,0L10,11.295l3.908-3.747c0.533-0.481,1.141-0.446,1.574,0 c0.436,0.445,0.408,1.197,0,1.615c-0.406,0.418-4.695,4.502-4.695,4.502C10.57,13.888,10.285,14,10,14s-0.57-0.112-0.789-0.335 c0,0-4.287-4.084-4.695-4.502C4.107,8.745,4.08,7.993,4.516,7.548z'/></svg>");
  background-size: 24px 24px;
}

.dropdown-toggle:hover,
.dropdown-toggle:focus {
  background: transparent center center no-repeat svg-url("<svg xmlns='http://www.w3.org/2000/svg' fill='#A2CDD6' viewBox='0 0 20 20'><path d='M4.516,7.548c0.436-0.446,1.043-0.481,1.576,0L10,11.295l3.908-3.747c0.533-0.481,1.141-0.446,1.574,0 c0.436,0.445,0.408,1.197,0,1.615c-0.406,0.418-4.695,4.502-4.695,4.502C10.57,13.888,10.285,14,10,14s-0.57-0.112-0.789-0.335 c0,0-4.287-4.084-4.695-4.502C4.107,8.745,4.08,7.993,4.516,7.548z'/></svg>");
  color: $sky;
}

.dropdown-toggle:focus {
  outline: thin dotted;
  outline-offset: -1px;
}

.dropdown-toggle:focus:after {
  border-color: transparent;
}

.dropdown-toggle.toggled-on {
  content: "";
  background-image: svg-url("<svg xmlns='http://www.w3.org/2000/svg' fill='#A2CDD6' viewBox='0 0 20 20'><path d='M15.484,12.452c-0.436,0.446-1.043,0.481-1.576,0L10,8.705l-3.908,3.747c-0.533,0.481-1.141,0.446-1.574,0 c-0.436-0.445-0.408-1.197,0-1.615c0.406-0.418,4.695-4.502,4.695-4.502C9.43,6.112,9.715,6,10,6s0.57,0.112,0.789,0.335 c0,0,4.287,4.084,4.695,4.502C15.893,11.255,15.92,12.007,15.484,12.452z'/></svg>");
  background-repeat: no-repeat;
}



