/**
 * objects/sidebar
 * ---
 */

.widget ul,
.widget ol{
  list-style-type: none;
}


.side-menu,
.widget_categories,
.widget_archive {
  li a {
    padding-bottom: 10px;
    border-bottom: 1px solid $text-color;
    &:hover {
      border-bottom-color: $text-color;
    }
  }
  .current_page_item {
    a {
      color: $blue;
      font-weight: bold;
    }
  }

}
