/**
 * objects/site
 * ---
 */

.hero {
  background-size: cover;
  background-position: center center;
}

.hero-default {
  background: url(../img/default.jpg) no-repeat center center;
  background-size: cover;
}

.no-js .hero {
  background: url(../img/default.jpg) no-repeat;
}

.sub-quote {
  background: transparentize( white, 0.2 );
}

.accordion-title {
  background: $sky;
  &:before {
    content: '';
    vertical-align: middle;
    display: inline-block;
    height: 30px;
    width: 30px;
    margin-right: $margin-sm;
    cursor: pointer;
    background-image: svg-url("<svg xmlns='http://www.w3.org/2000/svg' fill='#ffffff' viewBox='0 0 20 20'><path d='M10,1.6c-4.639,0-8.4,3.761-8.4,8.4c0,4.639,3.761,8.4,8.4,8.4s8.4-3.761,8.4-8.4C18.4,5.361,14.639,1.6,10,1.6z M15,11h-4 v4H9v-4H5V9h4V5h2v4h4V11z'/></svg>");
    background-repeat: no-repeat;
  }
}

.accordion-title.active:before {
  background-image: svg-url("<svg xmlns='http://www.w3.org/2000/svg' fill='#ffffff' viewBox='0 0 20 20'><path d='M10,1.6c-4.639,0-8.4,3.761-8.4,8.4c0,4.639,3.761,8.4,8.4,8.4s8.4-3.761,8.4-8.4C18.4,5.361,14.639,1.6,10,1.6z M15,11H5V9 h10V11z'/></svg>");
}

hr {
  border-top: 2px solid $blue;
}
