/**
 * objects/content
 * ---
 */

table {
  border: 2px solid $blue;
  width: 100%;
  max-width: 100%;
  border-collapse: collapse;

  th {
    background: $blue;
    color: white;
    text-align: left;
  }

  tr:nth-child(even) {
    background: $grey;
  }

  td {

  }
}
