/**
 * objects/typography
 * ---
 */

/* main */

main {
  @include font-size(2.0);

  @media screen and (max-width: $break-med) {
    @include font-size(1.8);
  }

  a {
    color: $green;
    font-weight: bold;
    &:hover {
      color: $text-color;
    }
  }

  table {
    @include font-size(1.6);

    th {
      font-weight: 700;
      @include font-size(1.6);
      text-transform: uppercase;
    }
  }
}

blockquote {
  @include font-size (2.4);
  color: $blue;
  text-align: center;
}

cite {
  @include font-size(1.8);
  text-align: center;
  color: $blue;
  display: block;
  font-style: normal;
  padding-top: 10px;
  border-top: 1px solid $blue;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  line-height: 1em;
}

h1, h2, h3 {
  margin-bottom: 2rem;
}

h4, h5, h6 {
  margin-bottom: 1rem;
}

h1 {
  @include font-size(4.8);
  color: $blue;
  font-weight: 800;
  @media screen and (max-width: $break-sm) {
    @include font-size(3.6);
  }
}

h2 {
  @include font-size(3.6);
  color: $blue;
  @media screen and (max-width: $break-sm) {
    @include font-size(2.4);
  }
}

h3 {
  @include font-size(3.0);
  color: $blue;
  @media screen and (max-width: $break-sm) {
    @include font-size(2.0);
  }
}

h4 {
  @include font-size(2.4);
  color: $blue;
  @media screen and (max-width: $break-sm) {
    @include font-size(1.8);
  }
}

h5 {
  @include font-size(1.8);
  color: $blue;
  text-transform: uppercase;
}

h6 {
  @include font-size(1.4);
  color: $blue;
  text-transform: uppercase;

}

p, ul, ol, blockquote {
  margin: 0 0 $margin-sm 0;
}

blockquote p:last-of-type {
  margin: 0;
}

li {
  margin-bottom: 0.5em;
}

form {
  font-weight: bold;
}

/* header */

.site-title {
  color: white;
  margin: 0;
  font-size: 48px !important;
  font-weight: bold;
  line-height: 1em;
  a {
    color: white;
    &:hover {
      text-decoration: none;
    }
  }
}

.header-tagline {
  color: white;
  @include font-size(2.0);
}

.announcement {
  color: white;
  @include font-size(1.4);
  text-align: center;
  a {
    color: white;
    text-decoration: underline;
  }
}

.main-navigation {
  @include font-size(2.2);
  font-weight: normal;
  .primary-menu > li {
    text-align: center;
    @media screen and (max-width: $break-med) {
      text-align: left;
    }
  }
  .sub-menu li {
    text-align: left;
  }
  @media screen and (max-width: $break-lg) {
    @include font-size(1.8);
  }
}

.menu-toggle {
  @include font-size(1.8);
  color: $text-color;
}

.section-title,
.widgettitle {
  font-weight: 700;
  @include font-size(2.4);
  color: $blue;
  text-transform: uppercase;
  padding-bottom: 5px;
  border-bottom: 1px solid $blue;
}

/* home */

.main-cta-text,
.flex-caption {
  text-align: right;
  p {
    font-weight: normal;
    font-size: inherit;
    color: white;
    opacity: 1;
    line-height: 1.1;
    text-shadow: $box-default;
    @media screen and (max-width: $break-med) {
      font-size: inherit;
      color: white;
      opacity: 1;
    }
  }
  @media screen and (max-width: $break-med) {
    text-align: center;
  }
}

.video-before-text,
.video-after-text {
  color: white;
  h1, h2, h3, h4, h5, h6 {
    color: white;
  }
  a {
    color: white;
  }
}

.text-dynamic p {
  @media screen and (max-width: $break-med) {
    color: $text-color;
  }
}

.icon-list {
  h3 {
    @include font-size(2.0);
    text-transform: uppercase;
    margin-top: $margin-sm;
    margin-bottom: 0;
    @media screen and (max-width: $break-med) {
      margin-top: 10px;
      @include font-size(1.6);
    }
  }
}

/* subpages */

/* flex content */

.accordion-title {
  padding: 10px;
  color: white;
  @include font-size(2.4);
  margin-bottom: $margin-sm;
  a {
    color: white;
    text-decoration: none;
  }
}

/* blog */

.post-title {
  @include font-size(2.0);
}

.sidebar-widget {
  @include font-size(1.8);
}

.comment-author .fn {
  font-style: normal;
  @include font-size(1.2);
  font-weight: 700;
}

.comment-meta {
  @include font-size(1.2);
  font-weight: 700;
}

/* sidebar */

.sidebar a {
  color: $green;
}

.side-nav,
.widget_categories,
.widget_archive {
  ul li a{
    @include font-size(2.4);
    font-weight: normal;
    &:hover {
      color: $text-color;
      text-decoration: none;
      font-weight: 700;
    }
  }
}

.side-menu a{
  color: $green;
  &:hover,
  &:active {
    text-decoration: none;
  }
}

/* footer */

footer .widgettitle {
  color: white;
  border-color: white;
}

.widget_nav_menu ul {
  a {
    color: white;
  }
  li {
    text-transform: uppercase;
    @include font-size(1.8);
    font-weight: 700;
  }
  .sub-menu li {
    text-transform: none;
    font-weight: normal;
  }
}

.contact-info {
  color: white;
  @include font-size(1.4);
  a {
    color: white;
    text-decoration: underline;
  }

  @media screen and (max-width: $break-sm) {
    text-align: center;
  }
}

.copyright {
  @include font-size(1.2);
  color: white;
  a {
    color: white;
  }

  @media screen and (max-width: $break-sm) {
    text-align: center;
  }
}

.terms {
  @include font-size(1.2);
  color: lighten( $blue, 20% );
  @media screen and (max-width: $break-sm) {
    text-align: center;
  }
}


/* overall styles */

.blue {
  color: $blue;
}

.sky {
  color: $sky;
}
