/* social media icons */

.social-navigation a,
.menu-social-links-container ul li a {
  background-size: contain;
}

/* Default circle icons */

.social-navigation a[href*="facebook.com"] {
  background-image: svg-url("<svg xmlns='http://www.w3.org/2000/svg' viewBox='-629 391 20 20' enable-background='new -629 391 20 20' xml:space='preserve'><circle fill='#3B5998' cx='-619' cy='401' r='9.6'/><path fill='#FFFFFF' d='M-616.7,398h-1.4c-0.2,0-0.4,0.2-0.4,0.5v1h1.8l-0.3,1.5h-1.5v4.5h-1.7v-4.5h-1.5v-1.5h1.5v-0.9 c0-1.3,0.9-2.3,2.1-2.3h1.4V398z'/></svg>");
}

.social-navigation a[href*="plus.google.com"] {
  background-image: svg-url("<svg xmlns='http://www.w3.org/2000/svg' viewBox='-629 391 20 20'><circle fill='#DD4B39' cx='-619' cy='401' r='9.6'/><g><polygon fill='#FFFFFF' points='-614.5,401 -616,401 -616,402.5 -617,402.5 -617,401 -618.5,401 -618.5,400 -617,400 -617,398.5 -616,398.5 -616,400 -614.5,400'/><path fill='#FFFFFF' d='M-618.4,396.6L-618.4,396.6l-2.3-0.1c0,0-2.3,0.1-2.3,2.2c0,0.8,0.3,1.3,0.8,1.6c0.4,0.3,0.9,0.3,1.1,0.3 c0.1,0,0.1,0,0.1,0c0,0-0.1,0.5,0.3,1h0c-0.7,0-2.8,0.1-2.8,1.9c0,1.8,2,1.9,2.3,1.9c0,0,0.1,0,0.1,0s0,0,0.1,0 c0.3,0,0.9,0,1.5-0.3c0.8-0.4,1.2-1,1.2-2c0-0.9-0.6-1.4-1-1.8c-0.3-0.2-0.5-0.4-0.5-0.6c0-0.2,0.2-0.4,0.4-0.5 c0.3-0.3,0.7-0.8,0.7-1.6c0-0.7-0.1-1.2-0.7-1.5c0.1,0,0.3-0.1,0.4-0.1C-618.8,396.9-618.4,396.9-618.4,396.6z M-619.3,403.3 c0,0.7-0.6,1.2-1.5,1.3c-0.9,0.1-1.7-0.4-1.7-1.1c0-0.3,0.1-0.7,0.4-0.9c0.3-0.3,0.7-0.4,1.1-0.5c0.1,0,0.1,0,0.2,0 C-619.9,402.2-619.3,402.7-619.3,403.3z M-620.6,400.1c-0.1,0-0.1,0-0.2,0c-0.5,0-1-0.5-1.2-1.2c-0.1-0.4-0.1-0.7,0-1.1 c0.1-0.3,0.3-0.5,0.6-0.6c0.1,0,0.1,0,0.2,0c0.6,0,1,0.3,1.2,1.1C-619.7,399.1-620,399.9-620.6,400.1z'/></g></svg>");
}

.social-navigation a[href*="instagram.com"] {
  background-image: svg-url("<svg xmlns='http://www.w3.org/2000/svg' viewBox='-629 391 20 20'><circle fill='#E1306C' cx='-619' cy='401' r='9.6'/><path fill='#FFFFFF' d='M-615.1,396h-7.8c-0.6,0-1.1,0.5-1.1,1.1v7.8c0,0.6,0.5,1.1,1.1,1.1h7.8c0.6,0,1.1-0.5,1.1-1.1v-7.8 C-614,396.5-614.5,396-615.1,396z M-616.9,397.4c0-0.2,0.1-0.3,0.3-0.3h1.2c0.2,0,0.3,0.1,0.3,0.3v1.2c0,0.2-0.1,0.3-0.3,0.3h-1.2 c-0.2,0-0.3-0.1-0.3-0.3V397.4z M-619,399c1.1,0,2,0.9,2,2s-0.9,2-2,2s-2-0.9-2-2S-620.1,399-619,399z M-615,404.5 c0,0.3-0.2,0.5-0.5,0.5h-7c-0.3,0-0.5-0.2-0.5-0.5v-4h1c0,0.2,0,0.3,0,0.5c0,1.7,1.3,3,3,3s3-1.3,3-3c0-0.2,0-0.3,0-0.5h1V404.5z'/></svg>");
}

.social-navigation a[href*="twitter.com"] {
  background-image: svg-url("<svg xmlns='http://www.w3.org/2000/svg' viewBox='-629 391 20 20'><circle fill='#00ACED' cx='-619' cy='401' r='9.6'/><path fill='#FFFFFF' d='M-615.1,399.3c0,0.1,0,0.2,0,0.2c0,2.5-1.9,5.4-5.4,5.4c-1.1,0-2.1-0.3-2.9-0.9c0.1,0,0.3,0,0.5,0 c0.9,0,1.7-0.3,2.3-0.8c-0.8,0-1.5-0.6-1.8-1.3c0.1,0,0.2,0,0.4,0c0.2,0,0.3,0,0.5-0.1c-0.9-0.2-1.5-0.9-1.5-1.9v0 c0.3,0.1,0.5,0.2,0.9,0.2c-0.5-0.3-0.8-0.9-0.8-1.6c0-0.3,0.1-0.7,0.3-1c0.9,1.1,2.3,1.9,3.9,2c0-0.1,0-0.3,0-0.4 c0-1,0.8-1.9,1.9-1.9c0.5,0,1,0.2,1.4,0.6c0.4-0.1,0.8-0.2,1.2-0.5c-0.1,0.4-0.4,0.8-0.8,1c0.4,0,0.7-0.1,1.1-0.3 C-614.4,398.7-614.7,399-615.1,399.3z'/></svg>");
}

.social-navigation a[href*="linkedin.com"] {
  background-image: svg-url("<svg xmlns='http://www.w3.org/2000/svg' viewBox='-629 391 20 20'><circle fill='#0077B5' cx='-619' cy='401' r='9.6'/><g><rect x='-623.3' y='398.7' fill='#FFFFFF' width='1.9' height='6.3'/><path fill='#FFFFFF' d='M-622.3,398c-0.6,0-1-0.4-1-1c0-0.5,0.4-1,1-1c0.6,0,1,0.4,1,1C-621.3,397.5-621.7,398-622.3,398z'/><path fill='#FFFFFF' d='M-614.3,405h-1.9v-3.5c0-0.8-0.3-1.4-1-1.4c-0.5,0-0.9,0.4-1,0.7c-0.1,0.1-0.1,0.3-0.1,0.5v3.6h-1.9v-4.3 c0-0.8,0-1.4-0.1-2h1.7l0.1,0.9h0c0.3-0.4,0.9-1,1.9-1c1.3,0,2.2,0.9,2.2,2.7V405z'/></g></svg>");
}

.social-navigation a[href*="pinterest.com"] {
  background-image: svg-url("<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'><circle fill='#BD081C' cx='10' cy='10' r='9.6'/><path fill='#FFFFFF' d='M10.7,12.3c-0.6,0-0.9-0.4-1.4-0.6C9,13,8.7,14.4,7.8,15.1C7.5,13,8.2,11.4,8.6,9.7C8,8.7,8.7,6.8,9.9,7.2 c1.5,0.6-1.3,3.6,0.6,4c2,0.4,2.8-3.4,1.6-4.6c-1.8-1.8-5.1,0-4.7,2.5C7.3,9.7,8,9.9,7.5,10.8C6.4,10.5,6,9.7,6.1,8.5 c0-2,1.7-3.3,3.4-3.5c2.1-0.2,4.1,0.8,4.4,2.8C14.2,10,12.9,12.5,10.7,12.3z'/></svg>");
}

.social-navigation a[href*="vimeo.com"] {
  background-image: svg-url("<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'><circle fill='#1AB7EA' cx='10' cy='10' r='9.6'/><path fill='#FFFFFF' d='M14.4,8.1c-0.5,2.9-3.3,5.4-4.2,6c-0.9,0.6-1.6-0.2-1.9-0.8C8,12.6,7,8.9,6.7,8.6c-0.3-0.3-1,0.3-1,0.3 L5.4,8.4c0,0,1.5-1.9,2.7-2.1c1.2-0.3,1.2,2,1.5,3.2c0.3,1.2,0.5,1.9,0.7,1.9c0.3,0,0.7-0.7,1.3-1.7c0.5-1,0-1.9-1.1-1.3 C11,5.8,14.9,5.2,14.4,8.1z'/></svg>");
}

.social-navigation a[href*="youtube.com"] {
  background-image: svg-url("<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'><ellipse fill='#CD201F' cx='10' cy='9.4' rx='9.6' ry='9'/><path fill='#FFFFFF' d='M10,13c-4.9,0-5-0.4-5-3.6s0.1-3.6,5-3.6s5,0.4,5,3.6S14.9,13,10,13z'/><path fill='#CD201F' d='M11.6,9.2l-2.2-1C9.2,8.1,9,8.2,9,8.4v1.8c0,0.2,0.2,0.3,0.4,0.2l2.2-1C11.8,9.4,11.8,9.3,11.6,9.2z'/></svg>");
}

.social-navigation a[href*="flickr.com"] {
  background-image: svg-url("<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'><circle fill='#0063DC' cx='10' cy='10' r='9.6'/><ellipse fill='#FFFFFF' cx='7.4' cy='10' rx='2' ry='2'/><ellipse fill='#FFFFFF' cx='12.6' cy='10' rx='2' ry='2'/></svg>");
}

.social-navigation a[href^="mailto:"] {
  background-image: svg-url("<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'><circle fill='#406672' cx='10' cy='10' r='9.6'/><path fill='#FFFFFF' d='M6.2,7h7.5c0.4,0,0.2,0.5,0,0.6c-0.2,0.1-3.2,1.9-3.3,2S10.1,9.8,10,9.8c-0.1,0-0.3,0-0.4-0.1 c-0.1-0.1-3.1-1.9-3.3-2C6,7.5,5.8,7,6.2,7z'/><path fill='#FFFFFF' d='M14,12.5c0,0.2-0.3,0.5-0.4,0.5H6.4C6.3,13,6,12.7,6,12.5c0,0,0-3.6,0-3.6c0-0.1,0-0.2,0.2-0.1 c0.2,0.1,3.3,1.9,3.4,2c0.2,0.1,0.3,0.1,0.4,0.1c0.1,0,0.3,0,0.4-0.1s3.2-1.9,3.4-2C14,8.6,14,8.8,14,8.9C14,8.9,14,12.5,14,12.5z'/></svg>");
}

.social-navigation a[href*="donate"] {
  background-image: svg-url("<svg xmlns='http://www.w3.org/2000/svg' fill='#2b3890' viewBox='0 0 20 20'><circle cx='10' cy='10' r='10' fill='#007840'/><path d='M20.7,13.8H11.3a.4.4,0,0,0-.4.4v3.3a.4.4,0,0,0,.4.4h.4v3.6a.4.4,0,0,0,.4.4h8a.4.4,0,0,0,.4-.4V17.8h.4a.4.4,0,0,0,.4-.4V14.2A.4.4,0,0,0,20.7,13.8Zm-5.5,6.9a.4.4,0,0,1-.4.4H12.7a.4.4,0,0,1-.4-.4V17.8a.4.4,0,0,1,.4-.4h2.2a.4.4,0,0,1,.4.4Zm0-4.4a.4.4,0,0,1-.4.4H12a.4.4,0,0,1-.4-.4V14.9a.4.4,0,0,1,.4-.4h2.9a.4.4,0,0,1,.4.4Zm4.4,4.4a.4.4,0,0,1-.4.4H17.1a.4.4,0,0,1-.4-.4V17.8a.4.4,0,0,1,.4-.4h2.2a.4.4,0,0,1,.4.4Zm.7-4.4a.4.4,0,0,1-.4.4H17.1a.4.4,0,0,1-.4-.4V14.9a.4.4,0,0,1,.4-.4H20a.4.4,0,0,1,.4.4Zm-6-2.6h3.4a2.5,2.5,0,0,0,1.2-1.5,1.2,1.2,0,0,0-.5-1.1,1.3,1.3,0,0,0-.8-.3c-.8,0-1.3,1-1.6,1.9-.3-1.2-.9-2.7-1.9-2.7a1.3,1.3,0,0,0-.9.4,1.5,1.5,0,0,0-.6,1.4A3.3,3.3,0,0,0,14.4,13.8Zm3.2-2h.3c.2.1.2.2.2.3s-.6.8-1.3,1.2S17.3,11.8,17.6,11.8Zm-3.8-.5.3-.2c.5,0,.9,1.2,1.2,2.3-.9-.5-1.7-1.1-1.8-1.6S13.5,11.5,13.8,11.2Z' transform='translate(-6 -6)' fill='#fff'/></svg>");
}

/* White icons with no background */

.social-navigation.open-icons a[href*="facebook.com"] {
  background-image: svg-url("<svg xmlns='http://www.w3.org/2000/svg' fill='#ffffff' viewBox='0 0 20 20'><path d='M17,1H3C1.9,1,1,1.9,1,3v14c0,1.101,0.9,2,2,2h7v-7H8V9.525h2V7.475c0-2.164,1.212-3.684,3.766-3.684l1.803,0.002v2.605 h-1.197C13.378,6.398,13,7.144,13,7.836v1.69h2.568L15,12h-2v7h4c1.1,0,2-0.899,2-2V3C19,1.9,18.1,1,17,1z'/></svg>");
}

.social-navigation.open-icons a[href*="plus.google.com"] {
  background-image: svg-url("<svg xmlns='http://www.w3.org/2000/svg' fill='#ffffff' viewBox='0 0 20 20'><path d='M1.989,5.589c0,1.494,0.499,2.572,1.482,3.205c0.806,0.52,1.74,0.598,2.226,0.598c0.118,0,0.213-0.006,0.279-0.01 c0,0-0.154,1.004,0.59,1.996H6.532c-1.289,0-5.493,0.269-5.493,3.727c0,3.516,3.861,3.695,4.636,3.695 c0.061,0,0.097-0.002,0.097-0.002c0.008,0,0.063,0.002,0.158,0.002c0.497,0,1.782-0.062,2.975-0.643 c1.548-0.75,2.333-2.059,2.333-3.885c0-1.764-1.196-2.814-2.069-3.582c-0.533-0.469-0.994-0.873-0.994-1.266 c0-0.4,0.337-0.701,0.762-1.082c0.689-0.615,1.339-1.492,1.339-3.15c0-1.457-0.189-2.436-1.354-3.057 c0.121-0.062,0.551-0.107,0.763-0.137c0.631-0.086,1.554-0.184,1.554-0.699V1.2H6.64C6.594,1.202,1.989,1.372,1.989,5.589z M9.413,14.602c0.088,1.406-1.115,2.443-2.922,2.574c-1.835,0.135-3.345-0.691-3.433-2.096c-0.043-0.676,0.254-1.336,0.835-1.863 c0.589-0.533,1.398-0.863,2.278-0.928c0.104-0.006,0.207-0.012,0.31-0.012C8.18,12.278,9.33,13.276,9.413,14.602z M8.212,4.626 c0.451,1.588-0.23,3.246-1.316,3.553C6.771,8.214,6.643,8.231,6.512,8.231c-0.994,0-1.979-1.006-2.345-2.393 C3.963,5.062,3.98,4.38,4.214,3.726c0.229-0.645,0.643-1.078,1.163-1.225c0.125-0.035,0.254-0.053,0.385-0.053 C6.962,2.448,7.734,2.946,8.212,4.626z M16,8V5h-2v3h-3v2h3v3h2v-3h3V8H16z'/></svg>");
}

.social-navigation.open-icons a[href*="instagram.com"] {
  background-image: svg-url("<svg xmlns='http://www.w3.org/2000/svg' fill='#ffffff' viewBox='0 0 20 20'><path d='M17,1H3C1.9,1,1,1.9,1,3v14c0,1.101,0.9,2,2,2h14c1.1,0,2-0.899,2-2V3C19,1.9,18.1,1,17,1z M9.984,15.523 c3.059,0,5.538-2.481,5.538-5.539c0-0.338-0.043-0.664-0.103-0.984H17v7.216c0,0.382-0.31,0.69-0.693,0.69H3.693 C3.31,16.906,3,16.598,3,16.216V9h1.549C4.488,9.32,4.445,9.646,4.445,9.984C4.445,13.043,6.926,15.523,9.984,15.523z M6.523,9.984 c0-1.912,1.55-3.461,3.462-3.461c1.911,0,3.462,1.549,3.462,3.461s-1.551,3.462-3.462,3.462C8.072,13.446,6.523,11.896,6.523,9.984z M16.307,6h-1.615C14.31,6,14,5.688,14,5.308V3.691C14,3.309,14.31,3,14.691,3h1.615C16.69,3,17,3.309,17,3.691v1.616 C17,5.688,16.69,6,16.307,6z'/></svg>");
}

.social-navigation.open-icons a[href*="pinterest.com"] {
  background-image: svg-url("<svg xmlns='http://www.w3.org/2000/svg' fill='#ffffff' viewBox='0 0 20 20'><path d='M8.617,13.227C8.091,15.981,7.45,18.621,5.549,20C4.963,15.838,6.41,12.713,7.083,9.395 c-1.147-1.93,0.138-5.812,2.555-4.855c2.975,1.176-2.576,7.172,1.15,7.922c3.891,0.781,5.479-6.75,3.066-9.199 C10.369-0.275,3.708,3.18,4.528,8.245c0.199,1.238,1.478,1.613,0.511,3.322c-2.231-0.494-2.897-2.254-2.811-4.6 c0.138-3.84,3.449-6.527,6.771-6.9c4.201-0.471,8.144,1.543,8.689,5.494c0.613,4.461-1.896,9.293-6.389,8.945 C10.081,14.411,9.571,13.807,8.617,13.227z'/></svg>");
}

.social-navigation.open-icons a[href*="twitter.com"] {
  background-image: svg-url("<svg xmlns='http://www.w3.org/2000/svg' fill='#ffffff' viewBox='0 0 20 20'><path d='M17.316,6.246c0.008,0.162,0.011,0.326,0.011,0.488c0,4.99-3.797,10.742-10.74,10.742c-2.133,0-4.116-0.625-5.787-1.697 c0.296,0.035,0.596,0.053,0.9,0.053c1.77,0,3.397-0.604,4.688-1.615c-1.651-0.031-3.046-1.121-3.526-2.621 c0.23,0.043,0.467,0.066,0.71,0.066c0.345,0,0.679-0.045,0.995-0.131c-1.727-0.348-3.028-1.873-3.028-3.703c0-0.016,0-0.031,0-0.047 c0.509,0.283,1.092,0.453,1.71,0.473c-1.013-0.678-1.68-1.832-1.68-3.143c0-0.691,0.186-1.34,0.512-1.898 C3.942,5.498,6.725,7,9.862,7.158C9.798,6.881,9.765,6.594,9.765,6.297c0-2.084,1.689-3.773,3.774-3.773 c1.086,0,2.067,0.457,2.756,1.191c0.859-0.17,1.667-0.484,2.397-0.916c-0.282,0.881-0.881,1.621-1.66,2.088 c0.764-0.092,1.49-0.293,2.168-0.594C18.694,5.051,18.054,5.715,17.316,6.246z'/></svg>");
}

.social-navigation.open-icons a[href*="vimeo.com"] {
  background-image: svg-url("<svg xmlns='http://www.w3.org/2000/svg' fill='#ffffff' viewBox='0 0 20 20'><path d='M18.91,5.84c-1.006,5.773-6.625,10.66-8.315,11.777c-1.69,1.115-3.233-0.447-3.792-1.631 C6.162,14.639,4.244,7.33,3.741,6.725C3.238,6.119,1.731,7.33,1.731,7.33L1,6.354c0,0,3.061-3.725,5.391-4.191 C8.861,1.67,8.857,6.027,9.451,8.445c0.574,2.342,0.961,3.68,1.463,3.68c0.502,0,1.462-1.305,2.512-3.305 c1.053-2.004-0.045-3.772-2.101-2.514C12.148,1.279,19.916,0.07,18.91,5.84z'/></svg>");
}

.social-navigation.open-icons a[href*="youtube.com"] {
  background-image: svg-url("<svg xmlns='http://www.w3.org/2000/svg' fill='#ffffff' viewBox='0 0 20 20'><path d='M10,2.3C0.172,2.3,0,3.174,0,10s0.172,7.7,10,7.7s10-0.874,10-7.7S19.828,2.3,10,2.3z M13.205,10.334l-4.49,2.096 C8.322,12.612,8,12.408,8,11.974V8.026C8,7.593,8.322,7.388,8.715,7.57l4.49,2.096C13.598,9.85,13.598,10.15,13.205,10.334z'/></svg>");
}

.social-navigation.open-icons a[href^="mailto:"] {
  background-image: svg-url("<svg xmlns='http://www.w3.org/2000/svg' fill='#ffffff' viewBox='0 0 20 20'><path d='M1.574,5.286c0.488,0.262,7.248,3.894,7.5,4.029C9.326,9.45,9.652,9.514,9.98,9.514c0.328,0,0.654-0.064,0.906-0.199 s7.012-3.767,7.5-4.029C18.875,5.023,19.337,4,18.44,4H1.521C0.624,4,1.086,5.023,1.574,5.286z M18.613,7.489 c-0.555,0.289-7.387,3.849-7.727,4.027s-0.578,0.199-0.906,0.199s-0.566-0.021-0.906-0.199S1.941,7.777,1.386,7.488 C0.996,7.284,1,7.523,1,7.707S1,15,1,15c0,0.42,0.566,1,1,1h16c0.434,0,1-0.58,1-1c0,0,0-7.108,0-7.292S19.004,7.285,18.613,7.489z'/></svg>");
}

.social-navigation.open-icons a[href*="donate"] {
  background-image: svg-url("<svg xmlns='http://www.w3.org/2000/svg' fill='#ffffff' viewBox='0 0 20 20'><path d='M16.87,6.25H.62A.62.62,0,0,0,0,6.87V12.5a.62.62,0,0,0,.62.62h.62v6.25a.62.62,0,0,0,.62.62H15.62a.62.62,0,0,0,.62-.62V13.13h.62a.62.62,0,0,0,.62-.62V6.88A.62.62,0,0,0,16.87,6.25ZM7.5,18.12a.62.62,0,0,1-.62.62H3.12a.62.62,0,0,1-.62-.62v-5a.62.62,0,0,1,.62-.62H6.87a.62.62,0,0,1,.62.62Zm0-7.5a.62.62,0,0,1-.62.62h-5a.62.62,0,0,1-.62-.62V8.12a.62.62,0,0,1,.62-.62h5a.62.62,0,0,1,.62.62Zm7.5,7.5a.62.62,0,0,1-.62.62H10.62a.62.62,0,0,1-.62-.62v-5a.62.62,0,0,1,.62-.62h3.75a.62.62,0,0,1,.62.62Zm1.25-7.5a.62.62,0,0,1-.62.62h-5a.62.62,0,0,1-.62-.62V8.12a.62.62,0,0,1,.62-.62h5a.62.62,0,0,1,.62.62ZM6,6.25h5.75a4.35,4.35,0,0,0,2-2.63,2,2,0,0,0-.86-1.84,2.19,2.19,0,0,0-1.35-.53C10.12,1.24,9.31,3,8.87,4.55,8.35,2.56,7.35,0,5.62,0A2.27,2.27,0,0,0,4.12.65,2.51,2.51,0,0,0,3.16,3C3.36,4.3,4.69,5.44,6,6.25Zm5.57-3.51a.91.91,0,0,1,.51.24c.32.25.3.41.3.46-.06.55-1.09,1.41-2.28,2.12C10.43,4,11,2.74,11.54,2.74ZM5,1.8a1,1,0,0,1,.6-.3c.77,0,1.57,2,2,4-1.46-.78-3-1.88-3.11-2.77C4.53,2.61,4.48,2.29,5,1.8Z'></path></svg>");
}

/* Open icons with no background - brand colors */

.social-navigation.color-icons a[href*="facebook.com"] {
  background-image: svg-url("<svg xmlns='http://www.w3.org/2000/svg' fill='#3B5998' viewBox='0 0 20 20'><path d='M17,1H3C1.9,1,1,1.9,1,3v14c0,1.101,0.9,2,2,2h7v-7H8V9.525h2V7.475c0-2.164,1.212-3.684,3.766-3.684l1.803,0.002v2.605 h-1.197C13.378,6.398,13,7.144,13,7.836v1.69h2.568L15,12h-2v7h4c1.1,0,2-0.899,2-2V3C19,1.9,18.1,1,17,1z'/></svg>");
}

.social-navigation.color-icons a[href*="plus.google.com"] {
  background-image: svg-url("<svg xmlns='http://www.w3.org/2000/svg' fill='#DD4B39' viewBox='0 0 20 20'><path d='M1.989,5.589c0,1.494,0.499,2.572,1.482,3.205c0.806,0.52,1.74,0.598,2.226,0.598c0.118,0,0.213-0.006,0.279-0.01 c0,0-0.154,1.004,0.59,1.996H6.532c-1.289,0-5.493,0.269-5.493,3.727c0,3.516,3.861,3.695,4.636,3.695 c0.061,0,0.097-0.002,0.097-0.002c0.008,0,0.063,0.002,0.158,0.002c0.497,0,1.782-0.062,2.975-0.643 c1.548-0.75,2.333-2.059,2.333-3.885c0-1.764-1.196-2.814-2.069-3.582c-0.533-0.469-0.994-0.873-0.994-1.266 c0-0.4,0.337-0.701,0.762-1.082c0.689-0.615,1.339-1.492,1.339-3.15c0-1.457-0.189-2.436-1.354-3.057 c0.121-0.062,0.551-0.107,0.763-0.137c0.631-0.086,1.554-0.184,1.554-0.699V1.2H6.64C6.594,1.202,1.989,1.372,1.989,5.589z M9.413,14.602c0.088,1.406-1.115,2.443-2.922,2.574c-1.835,0.135-3.345-0.691-3.433-2.096c-0.043-0.676,0.254-1.336,0.835-1.863 c0.589-0.533,1.398-0.863,2.278-0.928c0.104-0.006,0.207-0.012,0.31-0.012C8.18,12.278,9.33,13.276,9.413,14.602z M8.212,4.626 c0.451,1.588-0.23,3.246-1.316,3.553C6.771,8.214,6.643,8.231,6.512,8.231c-0.994,0-1.979-1.006-2.345-2.393 C3.963,5.062,3.98,4.38,4.214,3.726c0.229-0.645,0.643-1.078,1.163-1.225c0.125-0.035,0.254-0.053,0.385-0.053 C6.962,2.448,7.734,2.946,8.212,4.626z M16,8V5h-2v3h-3v2h3v3h2v-3h3V8H16z'/></svg>");
}

.social-navigation.color-icons a[href*="instagram.com"] {
  background-image: svg-url("<svg xmlns='http://www.w3.org/2000/svg' fill='#E1306C' viewBox='0 0 20 20'><path d='M17,1H3C1.9,1,1,1.9,1,3v14c0,1.101,0.9,2,2,2h14c1.1,0,2-0.899,2-2V3C19,1.9,18.1,1,17,1z M9.984,15.523 c3.059,0,5.538-2.481,5.538-5.539c0-0.338-0.043-0.664-0.103-0.984H17v7.216c0,0.382-0.31,0.69-0.693,0.69H3.693 C3.31,16.906,3,16.598,3,16.216V9h1.549C4.488,9.32,4.445,9.646,4.445,9.984C4.445,13.043,6.926,15.523,9.984,15.523z M6.523,9.984 c0-1.912,1.55-3.461,3.462-3.461c1.911,0,3.462,1.549,3.462,3.461s-1.551,3.462-3.462,3.462C8.072,13.446,6.523,11.896,6.523,9.984z M16.307,6h-1.615C14.31,6,14,5.688,14,5.308V3.691C14,3.309,14.31,3,14.691,3h1.615C16.69,3,17,3.309,17,3.691v1.616 C17,5.688,16.69,6,16.307,6z'/></svg>");
}

.social-navigation.color-icons a[href*="pinterest.com"] {
  background-image: svg-url("<svg xmlns='http://www.w3.org/2000/svg' fill='#BD081C' viewBox='0 0 20 20'><path d='M8.617,13.227C8.091,15.981,7.45,18.621,5.549,20C4.963,15.838,6.41,12.713,7.083,9.395 c-1.147-1.93,0.138-5.812,2.555-4.855c2.975,1.176-2.576,7.172,1.15,7.922c3.891,0.781,5.479-6.75,3.066-9.199 C10.369-0.275,3.708,3.18,4.528,8.245c0.199,1.238,1.478,1.613,0.511,3.322c-2.231-0.494-2.897-2.254-2.811-4.6 c0.138-3.84,3.449-6.527,6.771-6.9c4.201-0.471,8.144,1.543,8.689,5.494c0.613,4.461-1.896,9.293-6.389,8.945 C10.081,14.411,9.571,13.807,8.617,13.227z'/></svg>");
}

.social-navigation.color-icons a[href*="twitter.com"] {
  background-image: svg-url("<svg xmlns='http://www.w3.org/2000/svg' fill='#00ACED' viewBox='0 0 20 20'><path d='M17.316,6.246c0.008,0.162,0.011,0.326,0.011,0.488c0,4.99-3.797,10.742-10.74,10.742c-2.133,0-4.116-0.625-5.787-1.697 c0.296,0.035,0.596,0.053,0.9,0.053c1.77,0,3.397-0.604,4.688-1.615c-1.651-0.031-3.046-1.121-3.526-2.621 c0.23,0.043,0.467,0.066,0.71,0.066c0.345,0,0.679-0.045,0.995-0.131c-1.727-0.348-3.028-1.873-3.028-3.703c0-0.016,0-0.031,0-0.047 c0.509,0.283,1.092,0.453,1.71,0.473c-1.013-0.678-1.68-1.832-1.68-3.143c0-0.691,0.186-1.34,0.512-1.898 C3.942,5.498,6.725,7,9.862,7.158C9.798,6.881,9.765,6.594,9.765,6.297c0-2.084,1.689-3.773,3.774-3.773 c1.086,0,2.067,0.457,2.756,1.191c0.859-0.17,1.667-0.484,2.397-0.916c-0.282,0.881-0.881,1.621-1.66,2.088 c0.764-0.092,1.49-0.293,2.168-0.594C18.694,5.051,18.054,5.715,17.316,6.246z'/></svg>");
}

.social-navigation.color-icons a[href*="vimeo.com"] {
  background-image: svg-url("<svg xmlns='http://www.w3.org/2000/svg' fill='#1AB7EA' viewBox='0 0 20 20'><path d='M18.91,5.84c-1.006,5.773-6.625,10.66-8.315,11.777c-1.69,1.115-3.233-0.447-3.792-1.631 C6.162,14.639,4.244,7.33,3.741,6.725C3.238,6.119,1.731,7.33,1.731,7.33L1,6.354c0,0,3.061-3.725,5.391-4.191 C8.861,1.67,8.857,6.027,9.451,8.445c0.574,2.342,0.961,3.68,1.463,3.68c0.502,0,1.462-1.305,2.512-3.305 c1.053-2.004-0.045-3.772-2.101-2.514C12.148,1.279,19.916,0.07,18.91,5.84z'/></svg>");
}

.social-navigation.color-icons a[href*="youtube.com"] {
  background-image: svg-url("<svg xmlns='http://www.w3.org/2000/svg' fill='#CD201F' viewBox='0 0 20 20'><path d='M10,2.3C0.172,2.3,0,3.174,0,10s0.172,7.7,10,7.7s10-0.874,10-7.7S19.828,2.3,10,2.3z M13.205,10.334l-4.49,2.096 C8.322,12.612,8,12.408,8,11.974V8.026C8,7.593,8.322,7.388,8.715,7.57l4.49,2.096C13.598,9.85,13.598,10.15,13.205,10.334z'/></svg>");
}

.social-navigation.color-icons a[href^="mailto:"] {
  background-image: svg-url("<svg xmlns='http://www.w3.org/2000/svg' fill='#c0c3c4' viewBox='0 0 20 20'><path d='M1.574,5.286c0.488,0.262,7.248,3.894,7.5,4.029C9.326,9.45,9.652,9.514,9.98,9.514c0.328,0,0.654-0.064,0.906-0.199 s7.012-3.767,7.5-4.029C18.875,5.023,19.337,4,18.44,4H1.521C0.624,4,1.086,5.023,1.574,5.286z M18.613,7.489 c-0.555,0.289-7.387,3.849-7.727,4.027s-0.578,0.199-0.906,0.199s-0.566-0.021-0.906-0.199S1.941,7.777,1.386,7.488 C0.996,7.284,1,7.523,1,7.707S1,15,1,15c0,0.42,0.566,1,1,1h16c0.434,0,1-0.58,1-1c0,0,0-7.108,0-7.292S19.004,7.285,18.613,7.489z'/></svg>");
}

.social-navigation.color-icons a[href*="donate"] {
  background-image: svg-url("<svg xmlns='http://www.w3.org/2000/svg' fill='#2b3890' viewBox='0 0 20 20'><path d='M16.87,6.25H.62A.62.62,0,0,0,0,6.87V12.5a.62.62,0,0,0,.62.62h.62v6.25a.62.62,0,0,0,.62.62H15.62a.62.62,0,0,0,.62-.62V13.13h.62a.62.62,0,0,0,.62-.62V6.88A.62.62,0,0,0,16.87,6.25ZM7.5,18.12a.62.62,0,0,1-.62.62H3.12a.62.62,0,0,1-.62-.62v-5a.62.62,0,0,1,.62-.62H6.87a.62.62,0,0,1,.62.62Zm0-7.5a.62.62,0,0,1-.62.62h-5a.62.62,0,0,1-.62-.62V8.12a.62.62,0,0,1,.62-.62h5a.62.62,0,0,1,.62.62Zm7.5,7.5a.62.62,0,0,1-.62.62H10.62a.62.62,0,0,1-.62-.62v-5a.62.62,0,0,1,.62-.62h3.75a.62.62,0,0,1,.62.62Zm1.25-7.5a.62.62,0,0,1-.62.62h-5a.62.62,0,0,1-.62-.62V8.12a.62.62,0,0,1,.62-.62h5a.62.62,0,0,1,.62.62ZM6,6.25h5.75a4.35,4.35,0,0,0,2-2.63,2,2,0,0,0-.86-1.84,2.19,2.19,0,0,0-1.35-.53C10.12,1.24,9.31,3,8.87,4.55,8.35,2.56,7.35,0,5.62,0A2.27,2.27,0,0,0,4.12.65,2.51,2.51,0,0,0,3.16,3C3.36,4.3,4.69,5.44,6,6.25Zm5.57-3.51a.91.91,0,0,1,.51.24c.32.25.3.41.3.46-.06.55-1.09,1.41-2.28,2.12C10.43,4,11,2.74,11.54,2.74ZM5,1.8a1,1,0,0,1,.6-.3c.77,0,1.57,2,2,4-1.46-.78-3-1.88-3.11-2.77C4.53,2.61,4.48,2.29,5,1.8Z'></path></svg>");
}