/**
 * utilities/variables
 * ---
 */


/**
 * Typography
 */

$font-family-base: "Raleway", sans-serif;
$font-size-base: 140%;
$line-height-base: 1.4;


/**
 * Colors
 */

$text-color: #030303;
$body-bg: #fff;
$selection-bg: #74B247;

$green: #74B247;
$sky: #A2CDD6;
$blue: #2E3D66;
$grey: #F3F5ED;


/**
 * Borders & Shadows
 */

$box-default: 0 0 5px rgba(0,0,0,0.5);

/**
 * Breakpoints
 */

$break-lg: 1280px;
$break-medlg: 1150px;
$break-med: 1000px;
$break-sm: 760px;

/**
 *  Grid
 */

$padding-lg: 40px;
$padding-sm: 20px;
$margin-lg: 40px;
$margin-sm: 20px;
