/******************************************************************
Site Name: Template #5 Theme
Author: Go Montessori

Stylesheet: TinyMCE Editor

This stylesheet is loaded automatically by Wordpress when compiled
and placed in the root theme directory folder as editor-style.css

For more info, check out the codex:
http://codex.wordpress.org/Editor_Style

******************************************************************/
/* Wrap the entire post style inside the TinyMCE selector, as suggested
here http://codex.wordpress.org/Function_Reference/add_editor_style */
body#tinymce.wp-editor {
  /**
   * utilities/variables
   * ---
   */
  /**
   * Typography
   */
  /**
   * Colors
   */
  /**
   * Shadows
   */
  /**
   * Breakpoints
   */
  /**
   * partials/utils
   * ---
   * Utils classes
   */
  /* must have higher specificity than alternative color schemes inline styles */
  /**
   * utilities/mixins
   * ---
   */
  /**
   * objects/buttons
   * ---
   */
  /**
   * objects/typography
   * ---
   */
  /* main */
  /* header */
  /* homepage */
  /* subpages */
  /* flex content */
  /* blog */
  /* sidebar */
  /* footer */
  width: 800px;
  font-family: 'Roboto', sans-serif;
  font-size: 100%;
  line-height: 1.5;
  color: #252525;
  -webkit-font-smoothing: antialiased;
  /**
   * Alignment
   */
}
body#tinymce.wp-editor .clear:before, body#tinymce.wp-editor .clear:after {
  content: " ";
  display: table;
}
body#tinymce.wp-editor .clear:after {
  clear: both;
}
body#tinymce.wp-editor hr {
  clear: both;
}
body#tinymce.wp-editor .embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
  height: auto;
}
body#tinymce.wp-editor .embed-container iframe, body#tinymce.wp-editor .embed-container object, body#tinymce.wp-editor .embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
body#tinymce.wp-editor .says,
body#tinymce.wp-editor .screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute !important;
  width: 1px;
  /* many screen reader and browser combinations announce broken words as they would appear visually */
  word-wrap: normal !important;
}
body#tinymce.wp-editor .wrapper .skip-link {
  background-color: #f1f1f1;
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.2);
  color: #21759b;
  display: block;
  font-family: Montserrat, "Helvetica Neue", sans-serif;
  font-size: 14px;
  font-weight: 700;
  left: -9999em;
  outline: none;
  padding: 15px 23px 14px;
  text-decoration: none;
  text-transform: none;
  top: -9999em;
}
body#tinymce.wp-editor .logged-in .wrapper .skip-link {
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.2);
  font-family: "Open Sans", sans-serif;
}
body#tinymce.wp-editor .wrapper .skip-link:focus {
  clip: auto;
  height: auto;
  left: 6px;
  top: 7px;
  width: auto;
  z-index: 100000;
}
body#tinymce.wp-editor .btn-block {
  display: block;
}
body#tinymce.wp-editor .btn-green {
  background-color: #00792e;
}
body#tinymce.wp-editor .btn-green {
  padding: 1em;
  margin: 20px 0;
  color: white;
  font-size: 16px;
  font-size: 1.6rem;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  display: inline-block;
}
body#tinymce.wp-editor .btn-green:hover, body#tinymce.wp-editor .btn-green:active {
  cursor: pointer;
  text-decoration: none;
  color: white;
}
body#tinymce.wp-editor .btn-green:hover {
  background-color: darkgrey;
}
body#tinymce.wp-editor .btn-blue {
  background-color: #006fc0;
}
body#tinymce.wp-editor .btn-blue {
  padding: 1em;
  margin: 20px 0;
  color: white;
  font-size: 16px;
  font-size: 1.6rem;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  display: inline-block;
}
body#tinymce.wp-editor .btn-blue:hover, body#tinymce.wp-editor .btn-blue:active {
  cursor: pointer;
  text-decoration: none;
  color: white;
}
body#tinymce.wp-editor .btn-blue:hover {
  background-color: darkgrey;
}
body#tinymce.wp-editor .btn-main-cta,
body#tinymce.wp-editor .slide-link {
  background-color: #00792e;
}
body#tinymce.wp-editor .btn-main-cta,
body#tinymce.wp-editor .slide-link {
  padding: 1em;
  margin: 20px 0;
  color: white;
  font-size: 16px;
  font-size: 1.6rem;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  display: inline-block;
}
body#tinymce.wp-editor .btn-main-cta:hover,
body#tinymce.wp-editor .slide-link:hover, body#tinymce.wp-editor .btn-main-cta:active,
body#tinymce.wp-editor .slide-link:active {
  cursor: pointer;
  text-decoration: none;
  color: white;
}
body#tinymce.wp-editor .btn-main-cta:hover,
body#tinymce.wp-editor .slide-link:hover {
  background-color: darkgrey;
}
body#tinymce.wp-editor main article a {
  color: #006fc0;
}
body#tinymce.wp-editor h1 {
  color: #004679;
}
body#tinymce.wp-editor h2 {
  color: #006fc0;
}
body#tinymce.wp-editor h3 {
  color: #00792e;
  font-weight: bold;
}
body#tinymce.wp-editor h4 {
  color: #004679;
}
body#tinymce.wp-editor h5 {
  color: #006fc0;
}
body#tinymce.wp-editor h6 {
  color: #00792e;
}
body#tinymce.wp-editor blockquote {
  color: #006fc0;
}
body#tinymce.wp-editor cite {
  color: #006fc0;
}
body#tinymce.wp-editor .site-title {
  color: #252525;
}
body#tinymce.wp-editor .site-title a,
body#tinymce.wp-editor .site-title a:active {
  color: #252525;
  text-decoration: none;
}
body#tinymce.wp-editor .header-tagline {
  color: #004679;
}
body#tinymce.wp-editor .main-navigation {
  text-transform: none;
}
body#tinymce.wp-editor .widget-title {
  color: #004679;
  font-weight: 700;
  text-align: left;
  font-size: 20px;
  font-size: 2rem;
  text-transform: none;
  padding-bottom: 0;
  border-bottom: none;
}
body#tinymce.wp-editor .entry-title a {
  color: #006fc0;
}
body#tinymce.wp-editor .side-nav ul li a:hover,
body#tinymce.wp-editor .widget_categories ul li a:hover,
body#tinymce.wp-editor .widget_archive ul li a:hover {
  color: #00792e;
}
body#tinymce.wp-editor .side-nav .children a,
body#tinymce.wp-editor .widget_categories .children a,
body#tinymce.wp-editor .widget_archive .children a {
  color: #006fc0;
}
body#tinymce.wp-editor .sidebar .widget-title,
body#tinymce.wp-editor .sidebar-blog .widget-title {
  border-bottom: none;
}
body#tinymce.wp-editor .footer a:hover, body#tinymce.wp-editor .footer a:active {
  color: #00792e;
}
body#tinymce.wp-editor .blue {
  color: #006fc0;
}
body#tinymce.wp-editor .green {
  color: #00792e;
}
body#tinymce.wp-editor .dk-blue {
  color: #004679;
}
body#tinymce.wp-editor h1 {
  font-size: 36px;
}
body#tinymce.wp-editor h2 {
  font-size: 30px;
}
body#tinymce.wp-editor h3 {
  font-size: 24px;
}
body#tinymce.wp-editor h4 {
  font-size: 20px;
}
body#tinymce.wp-editor h5 {
  font-size: 18px;
}
body#tinymce.wp-editor h6 {
  font-size: 14px;
}
body#tinymce.wp-editor p {
  font-size: 16px;
}
body#tinymce.wp-editor a {
  color: #006fc0;
}
body#tinymce.wp-editor blockquote {
  font-size: 22px;
  color: #006fc0;
  font-weight: 300;
  text-align: center;
}
body#tinymce.wp-editor blockquote cite {
  font-size: 14px;
  text-align: right;
  font-weight: 700;
  color: #006fc0;
}
body#tinymce.wp-editor .btn {
  font-size: 16px;
  text-decoration: none;
}
body#tinymce.wp-editor .alignnone {
  margin: 0;
}
body#tinymce.wp-editor .aligncenter {
  display: block;
  margin: 1em auto;
}
body#tinymce.wp-editor .alignright {
  float: right;
  margin: 0.5em 0 1em 1em;
}
body#tinymce.wp-editor .alignleft {
  float: left;
  margin: 0.5em 1em 1em 0;
}

/*# sourceMappingURL=editor-style.css.map */
